@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
     /*   background-image: url(''../../Content/Images/Salon chairs.jpg);*/
        background-image: url('../../Content/Images/Salon chairs.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="jumbotron">
    <h1>BarberShop</h1>
    <h2>Our BarberShop is the cheapest in town. We only charge you R10 for any hair cut you want.</h2>
</div>